@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

header {
  display: flex;
  flex-direction: row;
}

h1 {
  font-family: "Inter";
  font-style: italic;
  font-size: 2.65em;
}
